body {font-family:sans-serif}
main {width:400px;margin:0 auto}
form {width: 90%;text-align:right}
label {vertical-align:top}
input, textarea {font-size:.8em;width:20em;padding:.3em;margin:.1em}
textarea {height:10em}
.eintrag {font-size:.8em;padding:1em;background:lightyellow;text- align:right;}
.eintrag:nth-child(odd) {background:gold}
.eintrag > a {font-weight:bold;color:red;text-decoration:none}
.eintrag > a:hover {text-decoration:underline}
.eintrag > p {text-align:left;font-size:1.5em}